// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-gap {
    width: 100px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #FF97C2;
    background-color: #FFFFDD;
}
