<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="display-4">About</h1>
    </div>
    <div class="col-8 text-center mt-4">
      <p class="lead">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p class="lead">お子様からお年よりの方までお召し上がりいただけます。</p>
      <p class="lead">さまざまなバリエーションをご用意しております。</p>
      <p class="lead">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p class="lead">ぜひご注文ください</p>
    </div>
    <%= image_tag('about.png', size: "800x550") %>
  </div>
</div>
