// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text-green {
  color: green;
}

.text-gray {
  color: gray;
}

.btn-space {
    margin-right: 100px;
}
